
.button{
  background-color: #1976d2;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px white;
  cursor: pointer;
  margin: 1em;
}
.button span{
  color: white;
  font-weight: 600;
}
.datapicker-container{
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
