<div class="datapicker-container">
  <mat-form-field appearance="fill">
    <mat-label>SELEZIONA UNA DATA O UN RANGE</mat-label>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
  <!--  <mat-date-range-picker #picker></mat-date-range-picker> -->

    <mat-date-range-input [min]="minDate" [max]="maxDate"  [rangePicker]="picker">
      <input matStartDate placeholder="Inizio" [(ngModel)]="startDate">
      <input matEndDate placeholder="Fine" [(ngModel)]="endDate" (dateChange)="returnToParent(startDate,endDate)">
    </mat-date-range-input>

    <mat-date-range-picker  #picker></mat-date-range-picker>
  </mat-form-field>
</div>
